@mixin flexSelect {
    display: flex;
    align-items: center;
    gap: 0 21px;
}


@mixin customSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/ps_test/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
}

@mixin priceText {
    font-size: 16px;
    line-height: 24px;
    color: #22232b;
    font-weight: 700;
}

.server-section {
    margin-top: 8.8rem;
    width: 100%;

    select {
        border-radius: 0.5rem;
        border: none;
        outline: none;
        font-weight: 800;
        padding: 0px 0 10px 15px;
        background-color: #ffffff;
        width: 100%;
        font-size: 16px;
        line-height: 18px;
         color: #22232b;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        
        @include customSelect
    }

    fieldset {
        max-width: 434px;
        border-radius: 7px;
        background-color: #ffffff;
        border: 1px solid #bdcdd6;

        legend {
            font-size: 11px;
            line-height: 18px;
            color: #22232b;
            font-weight: 400;
            padding: 0px 7px;
            font-family: 'Open Sans', sans-serif;
            
        }
    }


   &__icon {
        margin-bottom: 20px;
    }



    &__title {
        font-size: 24px;
        line-height: 76px;
        color: #22232b;
        font-weight: 700;
        margin: 0;
        padding-left: 1rem;
    }


    &__container {
        max-width: 1680px;
        margin: 0 auto;

    }


    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 4.4rem);
        padding: 2px 5px 0 42.4px;
        width: 100%;
        background: #fff;
        border-radius: 20px;
        min-height: 590px;
    }


    &__fieldset-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    &__processor {
        grid-column: 1 / span 2;
        margin-left: 16px;

        &-wrapper {
            @include flexSelect;
        }

        fieldset {
            max-width: 974px;
        }
    }


    &__system-disc {
        margin: 28px 0 0 16px;
        grid-column: 1;
        grid-row: 3;

        &-wrapper {
            @include flexSelect
        }
    }

    &__add-disc {
        grid-column: 1;
        grid-row: 4;
        border-bottom: 1px solid #54bcdc;
        width: max-content;
        margin-top: 14px;

        p {
            margin: 0;
            display: inline-block;
            font-size: 13px;
            line-height: 18px;
            color: #20a8d8;
            font-weight: 400;
            cursor: pointer;
        }
    }

    &__netport {
        grid-column: 1;
        grid-row: 5;
        margin: 15px 0 0 16px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__ipmi {
        grid-column: 1;
        grid-row: 6;
        margin: 39px 0 0 16px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__disc2 {
        grid-column: 2;
        grid-row: 3;
        margin: 23px 0 0 12px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__netport2 {
        grid-column: 2;
        grid-row: 5;
        margin: 15px 0 0 12px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__memory {
        grid-column: 3;
        grid-row: 2;
        margin: 0 0 0px 7px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__disc3 {
        grid-column: 3;
        grid-row: 3;
        margin: 24px 0 0px 6px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__controller {
        grid-column: 3;
        grid-row: 5;
        margin: 12px 0 0 5px;

        &-wrapper {
            @include flexSelect
        }
    }

    &__description {
        grid-column: 1/span 2;
        padding: 0 0 0 17px;
        grid-row: 8;

        p {
            font-size: 14px;
            line-height: 18px;
            color: #3e515b;
            margin-bottom: 1.4rem;
        }
    }

    &__price {
        @include priceText;

        display: inline-block;
        width: max-content;
        border-bottom: 1px dashed #20a8d8;
        margin: 0;


    }


    &__total-price {
        font-size: 24px;
        line-height: 24px;
        color: #22232b;
        font-weight: 700;
    }

    &__button {
        margin-top: 19px;
        margin-left: 22px;
        max-width: 332px;
    

        button {
            width: 100%;
            min-height: 40px;
            border-radius: 10px;
            background-color: #ffffff;
            border: 2px solid #20a8d8;
            padding-right: 20px;
            font-size: 14px;
            line-height: 18px;
            color: #22232b;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            &:active {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }
    }
}


// MEDIA QUERY 


@media screen and (max-width:1024px) {
    .server-section {
        padding: 0 34px;

        fieldset {
            max-width: 100%;

            select {
                font-size: 12px;
            }
        }

        &__fieldset-wrapper {}

        &__processor {
            margin: 0;


          
        }

        &__system-disc {
            margin: 0;


       
        }

        &__netport {
            margin: 0;


        
        }

        &__ipmi {
            margin: 0;


         
        }

        &__disc2 {
            margin: 0;


        
        
        }

        &__netport2 {
            margin: 0;
     

        }

        &__memory {
            margin: 0;
 

          
        }

        &__disc3 {
            margin: 0;
   

      
        }

        &__controller {
            margin: 0;
       

       
        }

        &__description {
            padding: 0;
   

        
        }
    }


    .server-section__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        gap: 1rem;
    }

}





@media screen and (min-width:1180px) {
        // .server-section__container {
        //     margin: 0 3rem;
        // }

        // .server-section__wrapper {
        //     padding: 1rem 2rem;
        // }
  
}