@mixin customSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/ps_test/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
}


.block-ip {
    width: 100%;
    margin-top: 1.2rem;
    padding: 0 0 0 34px;

    &__container {
        max-width: 1680px;
        margin: 0 auto;
    }

    &__wrapper {
        width: 100%;
        min-height: 210px;
        background: #ffffff;
        border-radius: 20px;
        display: flex;
        align-items: stretch;
        gap: 3.1rem;

    }

    &__title {
        font-size: 24px;
        line-height: 36px;
        color: #22232b;
        font-weight: 700;
        
    }

    select {
        border-radius: 0.5rem;
        border: none;
        outline: none;
        width: 100%;
        padding: 0px 0 10px 15px;
        font-weight: 800; 
        font-size: 16px;
        line-height: 18px;
        color: #22232b;
        background-color: #ffffff;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        @include customSelect
    }

    &__select {
        display: flex;
        gap: 1.4rem;
        max-width: 974px;
        min-height: 40px;
        

        fieldset {
            border-radius: 7px;
            background-color: #ffffff;
            border: 1px solid #bdcdd6;
            width: 100%;

            legend {
                font-size: 11px;
                line-height: 18px;
                color: #22232b;
                font-weight: 400;
                padding: 0 5px;
                margin: 0 0 0 10px;
            }
        }
    }

    &__ip-address {
        padding: 1rem;
        width: 31.7%;
        padding: 0px 0 0px 41px;
        gap: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__advantage {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        flex: 1;

        p {
            font-size: 14px;
            line-height: 18px;
            color: #3e515b;
            font-weight: 400;
        }
    }

    &__price {
        span {
            font-size: 24px;
            line-height: 24px;
            color: #22232b;
            font-weight: 700;
        }
    }
}

// MEDIA QUERY 


@media screen and (max-width:1024px) {
    .block-ip {
        padding: 0 34px;

        &__wrapper {
            width: 100%;
            flex-direction: column;
            gap: 0;
        }

        &__ip-address {
            width: 100%;
            padding: 1rem;    

        }

            &__advantage {
                padding: 1rem;
            }

            &__title {
                font-size: 20px;
            }
    }
}