.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 2rem;
    padding-left: 40px;
}



@media screen and (max-width:460px) {
    .main {
        margin: 0;
    }
}