.sidebar {
    background: #24242c;
    flex: 0 0 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 230px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    &__item {
        background-color: #302c34;
        border-radius: 9999999px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}