@mixin customSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/ps_test/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
}



.firewall {
    width: 100%;
    margin-top: 1.6rem;
    padding: 0 0 0 34px;

    &__container {
        max-width: 1680px;
        margin: 0 auto;
    }

    &__wrapper {
        width: 100%;
        min-height: 210px;
        background: #ffffff;
        border-radius: 20px;
        display: flex;
        align-items: stretch;
        gap: 3.2rem;
    }

    &__title {
        font-size: 24px;
        line-height: 36px;
        color: #22232b;
        font-weight: 700;
    }

    select {
        border-radius: 0.5rem;
        border: none;
        outline: none;
        padding: 0 0 10px 15px;
        background-color: #ffffff;
        width: 100%;
        font-size: 16px;
        line-height: 18px;
        color: #22232b;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;

    @include customSelect;

    }

    &__select {
        display: flex;
        gap: 1.4rem;
        width: 100%;
        min-height: 40px;

        fieldset {
            border-radius: 7px;
            background-color: #ffffff;
            border: 1px solid #bdcdd6;
            width: 100%;

            legend {
                font-size: 11px;
                line-height: 18px;
                color: #22232b;
                font-weight: 400;
                padding: 0 5px;
                margin: 0 0 0 10px;
            }
        }
    }

    &__ip-address {
        padding: 1rem;
        width: 31.7%;
        padding: 0px 0 0px 41px;
        gap: 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__advantage {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        flex: 1;

        p {
            font-size: 14px;
            line-height: 18px;
            color: #3e515b;
            font-weight: 400;
        }
    }

    &__price {
        span {
            font-size: 24px;
            line-height: 24px;
            color: #22232b;
            font-weight: 700;
        }
    }

    &__cart {
        margin-top: 19px;
        margin-bottom: 50px;

        &-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.1rem;
        }
    }


    &__button {
        max-width: 332px;
        flex: 1;

        button {
            width: 100%;
            min-height: 40px;
            border-radius: 10px;
            background-color: #20a8d8;
            border: 2px solid #20a8d8;
            padding-right: 10px;
            font-size: 14px;
            line-height: 18px;
            color: #ffffff;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            &:active {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }
    }


    &__total-price {
        p {
            font-size: 16px;
            line-height: 24px;
            color: #22232b;
            font-weight: 400;

            span {
                font-weight: bold;
                font-size: 24px;
            }
        }
    }

    &__feature {
        font-size: 13px;
        line-height: 16px;
        color: #3e515b;
        font-weight: 400;
            margin-left: 1.7rem;
    }
}



// MEDIA QUERY 


@media screen and (max-width:1024px) {

    .firewall {
        padding: 0 34px;


        &__ip-address {
            width: 100%;
            padding: 1rem;

        }

        &__title {
            font-size: 16px;
        }
    }
}


